/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


.conatiner {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.left-line {
  width: 1px;
  height: 100vh;
  position: absolute;
  left: -30px;
  background-image: linear-gradient(to bottom,#a3a3a3,#fff);
}

.right-line {
  width: 1px;
  height: 100vh;
  position: absolute;
  right: -30px;
  background-image: linear-gradient(to bottom,#a3a3a3,#fff);
}

.layout {
  height: 100%;
  background-image: linear-gradient(to bottom,#fff,#7dd3fc,#fff);
}

.navbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  position: sticky;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.links{
  display: flex;
  gap: 16px;
}

.links-items{
  color: #737373;
  font-size: 20px;
  text-decoration: none;
}

.links-items:hover {
  color: black;
  transition: color 0.3s ease-out;
}

.nav-button {
  width: 100px;
  height: 30px;
  background-color: #2563eb;
  border-radius: 10px;
  border-width: 0px;
  font-size: 13px;
  padding: 8px 4px;
  color: white;
  text-shadow: 0px 0.5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 4px 4px 0.5px rgba(0,0,0,0.25);
  cursor: pointer;
}

.badge {
  font-size: 8px;
  max-width: 300px;
  border-radius: 50px;
  background-color: #d1d5db;
  padding: 4px 8px;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-items: center;
  align-items: center;
}

.badge:hover {
  background-color: #a3a3a3;
  transition: all 1s ease-out;
}

.hero-root {
  padding: 30px 0px;
}

.hero-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.2px;
  max-width: 310px;
  margin: 0 auto;
  padding-top: 20px;
}

.hero-para {
  font-size: 12px;
  color: #404040;
  padding: 10px 15px;
  margin: 0 auto;
  max-width: 380px;
  text-align: center;
}


.hero-cta {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.btn-secondary {
  all: unset;
  font-size: 13px;
  color: black;
  padding: 4px 8px;

  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;

  border-radius: 6px;
  &:hover {
    background-color: #a3a3a3;
    transition: all 1s ease-out;
  }
}

.hero-image-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 600px;
  border-radius: 10px;
  height: 380px;
  padding-top: 30px;
  object-fit: cover;
  object-position: top-left;
}

.horizontal-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right,#fff,#a3a3a3,#fff);
}